<!doctype html>
<html lang="en">
{% block head %}
<head>
  <meta charset="utf-8">
  <title>{% block titulo %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/estilo.css">
 
</head>
{% endblock %}

{% block body %}
<body>
  
{% block encabezado %}

  <nav>
    <a href="/crearnota">Home</a>
    <a href="/leernotas">Mis notas</a>
    <div class="animation start-home"></div>
  </nav>
</ul></nav>
<Center>
<h1>
 <br> <img src="/static/imagen/notas-adhesivas.png" width="85" height="85"<li>Notas</li> 
</Center>
</h1>
  
{% endblock %}

{% block contenido %}
{% endblock %}

{% block pie %}
<center>
<div style="color: #34495e">
   <br><br><br> <h5>&copy; Realizado por Cesar Guillermo Cabrera Alcaraz</h15
</div>
</center>

{% endblock %}
</body>
{% endblock %}
</html>